* {
    box-sizing: border-box;
}


/* element selector */

/* untuk kombinasi warna */
/* ref colorhunt.co */
body {
    background-color:  #8e7ab5;
}

/* css tablet */
@media screen and (min-width:600px) {
    body {
        background-color:black;
    }

    .col-sm-6 {
        width: 50%;
        float: left;
        padding: 10px;
    }

    .col-sm-12 {
        width: 100%;
        float: left;
    }
    
}

/* css desktop */
@media screen and (min-width:992px) {
    body {
        background-color: aquamarine;
    }
    .col-lg-3{
        width: 25%;
        background-color: #808080;
        float: left;
    }
    .col-lg-4{
        width: 33.33%;
        background-color: yellow;
        float: left;
    }
    .col-lg-6 {
        width: 50%;
        background-color: azure;
        float: left;
        padding: 10px;
    }
}

.img-responsive {
    width: 100%;
}

.text-center {
    text-align: center;
}

.bg-primary {
    background-color: crimson;
}

.rounded {
    border-radius: 20px;
}

.img-rounded{
/* top-left  top-right bottom-right bottom-left */
border-radius: 50% 50% 0 0;
}

.img-rounded2{
    border-radius: 15% 15% 15% 15%;
}

.mb-5{
    margin-bottom: 150px;
}

.mt-5{
    margin-top: 150px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}